# Auto detect text files and perform LF normalization
* text=auto
Assets/Textures/UVGrid_Albedo.tif filter=lfs diff=lfs merge=lfs -text
Assets/Textures/UVGrid2_Albedo.tif filter=lfs diff=lfs merge=lfs -text
Assets/Textures/Bricks_Normal.jpg filter=lfs diff=lfs merge=lfs -text
Assets/Textures/Bricks_Albedo.jpg filter=lfs diff=lfs merge=lfs -text
Assets/Textures/Bricks_Occlusion.jpg filter=lfs diff=lfs merge=lfs -text
Assets/Textures/Marble_Albedo.jpg filter=lfs diff=lfs merge=lfs -text
Assets/Textures/Marble_Normal.jpg filter=lfs diff=lfs merge=lfs -text
